<!DOCTYPE html>
<html>
	<head>
		<title>Software Architecture Summit</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="app.js"></script>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body ng-app="SoftArchSummitApp" ng-controller="CustomerController as vm">
		<div class="container">
			<table class="table table-striped">
				<tr ng-repeat="customer in vm.customers">
					<td>{{ customer._id }}</td>
					<td>{{ customer.firstName }}</td>
					<td>{{ customer.lastName }}</td>
				</tr>
			</table>
			<button class="btn" ng-click="vm.addCustomer()">Add Customer</button>
		</div>
	</body>
</html>