<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Note that this connection string refers to a dev database on localdb.
			 Therefore it will work on the build machine, too. -->
		<add name="SampleDBServer" connectionString="Server=(localdb)\v11.0;Database=OOP_ALM_Talk;Integrated Security=true;Connection Timeout=120" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>