<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Note that this connection string refers to a test database in the cloud.
			 You could use localdb, too, as it is available on hosted build controllers. -->
		<add name="SampleDBServer" connectionString="Server=tcp:oop2015.database.windows.net,1433;Database=OOP_ALM_Talk_Test;User ID=OOPUser;Password=P@ssw0rd!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>