<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TimesheetDatabase" connectionString="Server=192.168.3.2;Database=ToolsSampleDatabase;User=Snek;Password=p@ssw0rd" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>