#app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#header {
  width: 100%;
  background: darkblue;
  padding: 1rem;
}

#content {
  overflow-y: auto;
  padding: 1rem;
}
