<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignalR Intro</title>
</head>
<body>
    @RenderBody()

    <script src="~/js/rxjs.umd.js"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
