[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-agents = "*"
python-dotenv = "*"
openai = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
