<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="StorageName" value="azuretrainingsstorage" />
		<add key="StorageKey" value="0V7+EvItCwmMG/+j4cYNOMBG9zGerf3Ag4J69FAkxN7ma/xmvN/1zqoAC0PFC6va9u5va8CvlBgc/XGa/2ysBQ==" />
		<add key="ContainerName" value="boards" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>