<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <style>
    body {
      font-family: sans-serif;
    }

    input[type=text] {
      width: 100%;
      max-width: 500px;
      margin-bottom: 5px;
    }

    button {
      margin-top: 10px;
    }

    p {
      max-width: 500px;
    }
  </style>
</head>
<body>
