body {
	background: #eeeeee;
}

.container {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 30px 60px;
}

@media(max-width: 800px) {
	.container {
		padding: 5px;
	}
}

.rating-table .title {
	padding: 10px;
	min-width: 200px;
}

.rating-table .rating {
	padding: 10px;
	min-width: 75px;
}

button {
	margin-top: 15px;
}

success-msg {
	margin-top: 15px;
}