<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI" version="0.4" targetFramework="net451" />
  <package id="angularjs" version="1.3.15" targetFramework="net451" />
  <package id="AngularJS.Animate" version="1.3.8" targetFramework="net451" />
  <package id="AngularJS.Aria" version="1.3.8" targetFramework="net451" />
  <package id="AngularJS.Core" version="1.3.15" targetFramework="net451" />
  <package id="AngularJS.Route" version="1.3.15" targetFramework="net451" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.2.5" targetFramework="net451" />
  <package id="angular-material" version="0.8.3" targetFramework="net451" />
  <package id="bootstrap" version="3.0.1" targetFramework="net451" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="1.3.1" targetFramework="net451" />
  <package id="jQuery" version="2.1.3" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.4" targetFramework="net451" />
  <package id="ng-grid" version="2.0.12" targetFramework="net451" />
  <package id="ng-grid.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net451" />
  <package id="Select2.js" version="3.2" targetFramework="net451" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net451" />
</packages>