#seven-segments {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

polygon {
    stroke: white;
    stroke-width: 0.2px;
    fill: lightgray;

    &.on {
        fill: red;
    }
}

