<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI" version="0.4" targetFramework="net45" />
  <package id="Angular.UI.Bootstrap" version="0.11" targetFramework="net45" />
  <package id="angularjs" version="1.2.16" targetFramework="net45" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="1.0.4" targetFramework="net45" />
  <package id="bootstrap" version="3.1.1" targetFramework="net45" />
  <package id="jasmine.TypeScript.DefinitelyTyped" version="0.2.3" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.7" targetFramework="net45" />
  <package id="ng-grid" version="2.0.11" targetFramework="net45" />
  <package id="Select2.js" version="3.4.8" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net45" />
</packages>