@page

<h2>Greeting</h2>

<div id="result"></div>
<button onclick="sayHelloToServer()" id="sayHelloToServer" hidden>Say Hello to Server</button>

<h2>Fibonacci</h2>

<button onclick="startStreamingNumbers()">Start streaming</button>
<div id="fib"></div>
